<p id="notice"><%= notice %></p>

<div class="row">
	  <div id="breadcrumb" class="col-md-12">
	    <ol class="breadcrumb">
	      <li><a href="#">Home</a></li>
	      <li><a href="#">Cadastro - Profissionais</a></li>
	    </ol>
	  </div>
	</div>
	<h4 class="page-header">Visualizar Cadastro</h4>

	<div class="container-fluid">
	        <div align="center" class="row show-grid">
	            <div class="col-sm-6 col-xs-6">
					  <strong>Nome:</strong>
					  <%= @professional.name %>
				</div>

				<div class="col-sm-6 col-xs-6">
					   <strong>Especialidade:</strong>
  						<%= @professional.specialty %>
				</div>
			</div>
	</div>		

<br>

		<div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <%= link_to(edit_professional_path(@professional), class: "form-actions btn btn-warning btn-block") do %>
                  <div class="text-center" style="font-size:14px"> 
                     <i class="fa fa-edit"></i>
                          <span>Editar</span>
                  </div>
            <% end %>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
              <%= link_to(professionals_path, class: "form-actions btn btn-danger btn-block") do %>
                  <div class="text-center" style="font-size:14px"> 
                     <i class="fa fa-mail-reply"></i>
                          <span>Voltar</span>
                  </div>
                <% end %>
          </div>
        </div>

          <div class="clearfix visible-xs"></div>